body {

  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
h1{
  color: azure;
  font-size: 80px;
  
}

@media(max-width:680px){
  h1{
    color: azure;
    font-size: 30px;
    
  }

}

h2{
  color: azure;
}

img{
  float: left;
}


nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.class{

  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
 }

 nav ul li a{
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
 }

 nav ul li a:hover{
  color:red;
  transition: .4s;
 }

 .button{
  background-color: red;
  color: beige;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
 }

 .button:hover{
  transform: scale(1.2);
 }

.haha{
  color:red;
}

.newslatter form{
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newslatter form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 8px 14px 1px;
  border: 2px solid red;
  outline: none;
  border-radius: 30px;
}

.newslatter form input:last-child{
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px; 
  border-radius: 30px;
  background-color: red;
   color: beige;
   box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
   top: 6px;
   right: 6px;
}

.about{
  width:100%;
  padding: 100px 0px;
  background-color: black;
}

.about-text h2{
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5{
  color: beige;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

span{
  color: #FFB84C;
}

.about-text p{
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button{
  background-color: red;
  color: aliceblue;
  text-decoration:none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
}

 button:hover{
  background-color: transparent;
  border: 2px solid red;
  cursor: pointer;
 }

 .service{
  background: #101010;
  width:100%;
  padding: 100px 0px;
 }

 .title h2{
  color: aquamarine;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
 
 }

 .pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  flex-wrap: wrap;
  min-width: 375px;
}

.pricing-plan {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  background-color: black;
  border-radius: 50px;
  text-align: center;
  min-width: 375px;
}

.plan-title {
  font-size: 24px;
  color: aliceblue;
  font-weight: bold;
  margin-bottom: 10px;
  min-width: 375px;
}

.plan-price {
  font-size: 48px;
  color: aquamarine;
  font-weight: bold;
  margin-bottom: 10px;
  min-width: 375px;
}

.plan-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features li {
  margin-bottom: 20px;
  color: whitesmoke;
  min-width: 375px;
}

.plan-button {
  padding: 10px;
  background-color: #ff6600;
  color: black;
  border-radius: 5px;
  border: none;
}

@media (max-width: 1250px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
  }
  .title h2{
    color: aquamarine;
    font-size: 40px;
    width: 30px;
    margin: 15px auto;
    text-align: center;
   
   }
}

 .contact-me{
  width:100%;
  height:290px;
  background: #191919;
  display:flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
 }

 .contact-me p{
  color: azure;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
 }

 .contact-me .button-two{
  background-color: red;
  color: aliceblue;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s;
 }

 .contact-me .button-two:hover{
  background-color: transparent;
  border: 2px solid red;
  cursor: pointer;
 }

 footer{
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 footer p:nth-child(1){
  font-size: 30px;
  color:azure;
  margin-bottom: 20px;
  font-weight: bold;
 }

 footer p:nth-child(2){
  color:white;
  font-size: 17px;
  width:500px;
  text-align: center;
  line-height: 26px;

 }

 .social{
  display: flex;
 }

 .social a{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  background: #f9004d;
  border-radius: 60%;
  margin: 21px 10px;
  color: white;
  text-decoration: none;
 }

 .social a:hover{
  transform: scale(1.3); 
  transition: .3s;
}

.end{
  position: absolute;
  color:#f9004d;
  bottom:35px;
  font-size:14px;
}




