*{
    background: whitesmoke;
}

img{
    height: 200px;
    width: 200px;
}

.aisach{
   font-style: italic;
   font-size: larger;
   font-family: Arial, Helvetica, sans-serif;
}

h2{
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

*{
    font-weight: lighter;
}



